apptools==5.1.0
configobj==5.0.6
dataclasses==0.6
envisage==5.0.0
future==0.18.2
h5py==3.1.0
importlib-metadata==3.4.0
importlib-resources==5.0.0
mayavi==4.7.2
numpy==1.19.5
Pillow==8.0.1
pyface==7.2.0
Pygments==2.7.4
PyQt5==5.15.2
PyQt5-sip==12.8.1
scipy==1.6.0
six==1.15.0
torch==1.7.0+cu101
torchvision==0.8.1+cu101
traits==6.1.1
traitsui==7.1.1
typing-extensions==3.7.4.3
vtk==9.0.1
zipp==3.4.0
